@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 43% 96%;
    --foreground: 210 44% 7%;
    --card: 200 43% 96%;
    --card-foreground: 210 44% 7%;
    --popover: 200 43% 96%;
    --popover-foreground: 210 44% 7%;
    --primary: 205 43% 28%;
    --primary-foreground: 200 43% 96%;
    --secondary: 343 43% 66%;
    --secondary-foreground: 210 44% 7%;
    --muted: 200 43% 20%;
    --muted-foreground: 210 44% 70%;
    --accent: 36 43% 44%;
    --accent-foreground: 210 44% 7%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 210 44% 7%;
    --border: 200 43% 20%;
    --input: 200 43% 20%;
    --ring: 36 43% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 203 44% 4%;
    --foreground: 208 43% 93%;
    --card: 203 44% 4%;
    --card-foreground: 208 43% 93%;
    --popover: 203 44% 4%;
    --popover-foreground: 208 43% 93%;
    --primary: 205 43% 72%;
    --primary-foreground: 203 44% 4%;
    --secondary: 343 43% 34%;
    --secondary-foreground: 208 43% 93%;
    --muted: 203 43% 80%;
    --muted-foreground: 208 43% 93%;
    --accent: 36 43% 56%;
    --accent-foreground: 203 44% 4%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 209 81% 10%;
    --border: 203 44% 60%;
    --input: 203 43% 80%;
    --ring: 36 43% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.text-fluid-md {
  font-size: clamp(0.7rem, 1vw, 0.9rem);
}

.text-fluid-base {
  font-size: clamp(0.85rem, 1.4vw, 1.3rem);
}

.text-fluid-lg {
  font-size: clamp(1.3rem, 2vw, 1.75rem);
}

.text-fluid-xl {
  font-size: clamp(1.5rem, 2.5vw, 2.25rem);
}

.taglike {
  transition: border-radius 0.3s ease;
  position: relative !important;
}

.taglike::after,
.taglike::before {
  transition: all 0.3s ease;
  opacity: 0;
  content: "";
  display: block;
  width: 0;
  border-bottom: 20px solid rgb(191 219 254 /1);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  top: 10px;
  z-index: -1;
  position: absolute;
}

.taglike::after {
  transform: rotate(90deg);
  right: 0;
}

.taglike::before {
  transform: rotate(-90deg);
  left: 0;
}

.taglike:hover {
  border-radius: 0 !important;
}

.taglike:hover::after,
.taglike:hover::before {
  opacity: 1;
}

.taglike:hover::after {
  right: -30px;
}

.taglike:hover::before {
  left: -30px;
}