@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

#form {
  opacity: 0;
  transition: all 0.5s ease allow-discrete;
  min-width: 20rem;
  padding: 1rem;
  border-radius: var(--radius);
}

#form:popover-open {
  opacity: 1;
}

@starting-style {
  #form {
    opacity: 0;
  }
}

#form::backdrop {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease allow-discrete;
}

#form:popover-open::backdrop {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(3px);
}

@starting-style {
  #form::backdrop {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.shadow-close {
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.4);
}

.shadow-close:hover {
  box-shadow: none;
}

.tag::after {
  content: "";
  position: absolute;
  display: block;
  height: 85%;
  aspect-ratio: 1;
  background-color:rgb(2 44 34 / var(--tw-bg-opacity));
  top: 50%;
  right: 0;
  opacity: 0;
  transform: rotateZ(45deg) translateY(-72%);
  transition: all 0.3s ease allow-discrete;
  z-index: -1;
  /* border-radius: 50%; */
}

.badge:hover .tag::after {
  opacity: 1;
  right: -9px;
  /* border-radius: 0; */
}

.tag::before {
  content: "";
  position: absolute;
  display: block;
  height: 85%;
  aspect-ratio: 1;
  background-color:rgb(2 44 34 / var(--tw-bg-opacity));
  top: 50%;
  left: 0;
  opacity: 0;
  transform: rotateZ(45deg) translateY(-72%);
  transition: all 0.3s ease allow-discrete;
  z-index: -1;
}

.badge:hover .tag::before {
  opacity: 1;
  left: -26px;
}